/* Global variables */
:root {
    --primary: #43464B;
}

.navbar {
    /* background: #FFFEFE; */
    background: var(--primary);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.navbar__logo {
    color: #FFFF !important;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    left: 0;
}

/* Set the mobile version of the logo to be hidden by default */
.mobile__logo {
    display: none;
}

/* By default the hamburger icon should be hidden until we know the screen size */
.navbar__hamburger {
    display: none;
}

.navbar__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.navbar__item {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar__link {
    color: #FFFF;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar__link:hover {
    background-color: var(--primary);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #272727;
}